<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: headerelement}"></head>
<body>
<nav th:replace="~{fragments/header :: navbar}"></nav>
<main class="container mt-4">
    <div class="alert alert-danger mt-4 text-center">
        <h1>😕 Oeps!</h1>
        <p class="lead">Deze pagina bestaat niet of er is
            iets fout gegaan.</p>
        <a th:href="@{/}" class="btn btn-primary mt-3">
            Terug naar home
        </a>
    </div>
</main>
<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>