<!-- Wie heeft dit gereserveerd -->
<div th:if="${not #lists.isEmpty(item.reservations)}" class="mt-4">
    <h3>📅 Reservaties</h3>
    <div class="row g-3 mt-2">
        <div class="col-md-4"
             th:each="reservatie : ${item.reservations}">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title"
                        th:text="${reservatie.student.naam}"></h6>
                    <p class="text-muted mb-1"
                       th:text="|Van: ${#temporals.format(reservatie.startDate, 'dd MMMM yyyy')}|">
                    </p>
                    <p class="text-muted"
                       th:text="|Tot: ${#temporals.format(reservatie.endDate, 'dd MMMM yyyy')}|">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
